:root {
  font-family: Open Sans, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  color-scheme: light dark;
  color: #ffffffde;
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
  padding: 0 1rem
}

#title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 0rem;
  margin-top: 0
}

.log-buttons {
  padding: .625rem 1rem;
  border: 1px solid #6c757d;
  background-color: #6c757d;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  width: auto;
  margin-top: 0;
  padding: .625rem 1.25rem
}

.log-buttons:hover {
  background-color: #5a6268
}

#search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5rem;
  padding: 0 1rem;
  gap: .625rem
}

#search-input {
  padding: .625rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  font-size: 1rem
}

#search-button,
#clear-search-button {
  padding: .625rem 1rem;
  border: 1px solid #007bff;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  width: 50%
}

#clear-search-button {
  background-color: #f8f9fa;
  color: #212529;
  border-color: #ccc
}

#search-button:hover {
  background-color: #0056b3
}

#clear-search-button:hover {
  background-color: #e2e6ea
}

#buttons-container {
  display: flex;
  justify-content: center;
  margin: 0;
  width: 100%;
  padding: 0
}

@media (min-width: 768px) {
  #header {
    flex-direction: column;
    justify-content: space-between;
    padding: 0 2.5rem;
    align-items: center
  }

  #title {
    font-size: 3rem;
    margin-bottom: 0
  }

  #search-container {
    flex-direction: row;
    width: 60%;
    gap: .75rem;
    padding: 0;
    margin: 1.5rem auto
  }

  #search-input {
    font-size: 1rem
  }

  #search-button,
  #clear-search-button {
    padding: .625rem 1rem
  }

  #buttons-container {
    padding: 0
  }

  .search-buttons {
    max-width: 100px
  }
}

.products-grid.svelte-8wk1lw {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 50px;
  padding: 20px;
  margin-top: 15px;
  justify-content: center
}

.product-card.svelte-8wk1lw {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 5px #0000001a;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 15px;
  background-color: #fff;
  color: #333
}

.product-image.svelte-8wk1lw {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-bottom: 1px solid #eee
}

.product-info.svelte-8wk1lw {
  padding: 10px;
  text-align: center;
  width: 100%
}

.product-name.svelte-8wk1lw {
  font-size: 1.2em;
  margin: 10px 0;
  color: #007bff
}

.product-price.svelte-8wk1lw {
  font-size: 1.1em;
  font-weight: 700;
  color: #28a745;
  margin-bottom: 5px
}

.vote-controls.svelte-8wk1lw {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 10px
}

.vote-button.svelte-8wk1lw {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 16px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center
}

.vote-button.svelte-8wk1lw:hover {
  background-color: #0056b3
}

.product-votes.svelte-8wk1lw {
  font-size: .9em;
  color: #6c757d;
  min-width: 80px
}

.button-group.svelte-1wg6zqt {
  display: flex;
  justify-content: space-around
}

button.svelte-1wg6zqt {
  padding: 7px 10px;
  margin: 0 .3rem;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px
}

button.svelte-1wg6zqt:hover {
  background-color: #e0e0e0
}

button.selected.svelte-1wg6zqt {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff
}

dialog.svelte-zoo4g6 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 2rem;
  border-radius: .5rem;
  box-shadow: 0 0 10px #0003;
  margin: 0;
  min-width: 500px;
  min-height: 500px
}

.modal-content.svelte-zoo4g6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%
}

.inputs.svelte-zoo4g6 {
  display: flex;
  flex-direction: column;
  gap: 1rem
}

@media (max-width: 768px) {
  dialog.svelte-zoo4g6 {
    min-width: 300px;
    min-height: 300px
  }
}
